apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - staging.placements.100xdevs.com
      secretName: job-board-staging-tls
    - hosts:
      - staging.projects.100xdevs.com
      secretName: dailycode-staging-tls
    - hosts:
      - staging.app.100xdevs.com
      secretName: cms-staging-tls
    - hosts:
      - quiz.100xdevs.com
      secretName: quiz-tls
    - hosts:
      - quiz-backend.100xdevs.com
      secretName: quiz-backend-tls
    - hosts:
        - ai.api.100xdevs.com
      secretName: ai-api-tls
  rules:
    - host: staging.placements.100xdevs.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: job-board-staging
                port:
                  number: 80
    - host: staging.projects.100xdevs.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: dailycode-staging
                port:
                  number: 80
    - host: staging.app.100xdevs.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: cms-staging
                port:
                  number: 80
    - host: quiz.100xdevs.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: quiz-frontend
                port:
                  number: 80
    - host: quiz-backend.100xdevs.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: quiz-backend-server
                port:
                  number: 80
    - host: ai.api.100xdevs.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: qanda-chatbot-server
                port:
                  number: 80